body{
    margin-left: 15%;
    font-family: Verdana;
    color: rgb(32, 116, 25);
    width: 70%;
}
header h1{
    border-radius: 10px;
    padding: 3px 10px;
    margin-bottom: 5px;
    background: linear-gradient(to right, rgb(243, 1, 1), rgb(5, 4, 4));
    text-align: center;
}
#menu-principal ul{
    float: left;
    width: 200px;
    padding: 0;
    margin: 0;
}

#menu-principal ul li{
    padding: 10px;
}

#contenido{
    border-radius: 50px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/6/6c/Logo_of_the_100.jpg);
    margin-left: 100px;
    padding: 50px;
    color: rgb(248, 7, 7);
    font-size: 5mm;

}

footer{
    border-top: 2px solid rgb(8, 5, 1);
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    color: black;
}

#contenido p img{
    border: 2px #605B56 solid;
    margin: 3px;
    border-radius: 4px;
    float: right;
    height: 100px;
}

.principal{
    width: 500px;
    height: 350px;
}
.titulo{
    color: black;
    text-align: center;
    font-size: 10mm
}
