body{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    margin-left: 5%;
    color: black;
}

#resumen{
    display: none;
}

header{
    padding: 1vh, 1vw;
    margin-bottom: 1vw;
}

header h1{
    padding-left: 1%;
    font-size: 1.5em;
}

#contenido{
    margin: 1%;
    text-align: center;
}

footer{
    padding-top: 1vw;
    border-top: solid 1px rgb(240, 6, 6);
    margin-top: 1vw;
    font-size: 0.8em;
}

img{
    width: 50%;
}

@media (min-width: 600px){
    body{
        font-size: 18px;
        color: blue;
    }
    #resumen{
        display: block;
    }
}

@media (min-width: 950px){
    body{
        font-size: 20px;
        color: rgb(51, 255, 0);
    }
}