body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contenedor{
    margin: 0 auto;
    flex: 1;
    max-width: 1200px;
    display: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    height: inherit;
}

.divisor{
    display: grid;
    /* grid-template-rows: 150px  200px;
    grid-template-columns: 200px 300px; */
    /* grid-template: filas / columnas; */
    /* grid-template: 150px 200px / 200px 300px; */
    /* grid-template: 550px 50% / 20% 600px; */
    grid-template: 1fr / 350px 1fr;
}

.celulares{
    padding: 20px 30px;
    color: beige;
    background-color: black;
}

.imagenLogo img{
    max-width: 100%;
}

.listaCelulares p:hover{
    cursor: pointer;
}

.misCelulares{;
    font-size: 20px;
}

.amigos{
    display: block;
}

.amigos a{
    display: flex;
    margin: auto auto 20px 30px;
    text-decoration: none;
    align-items: center;
    color: blanchedalmond;
}

.amigos a img{
    width: 50px;
    border-radius: 25px;
    margin-right: 5px;
}

.celularesamigos{
    font-size: 20px;
}

.multimedia{
    display: grid;
    grid-template: 350px;
}

.nombreVideo{
    padding: 10px;
    padding-top: 15px;
}

.nombreVideo p{
    color: brown;
    margin: 0;
    font-size: 15px;
}

.botones{
    display: flex;
}

.agregar{
    background-image: linear-gradient(to right, rgb(147, 164, 240), rgb(0, 15, 148) )
}