body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contenedor{
    margin: 0 auto;
    flex: 1;
    max-width: 1200px;
    display: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    height: inherit;
}

.divisor{
    display: grid;
    /* grid-template-rows: 150px  200px;
    grid-template-columns: 200px 300px; */
    /* grid-template: filas / columnas; */
    /* grid-template: 150px 200px / 200px 300px; */
    /* grid-template: 550px 50% / 20% 600px; */
    grid-template: 1fr / 350px 1fr;
}

.celulares{
    padding: 20px 30px;
    color: beige;
    background-color: black;
}

.imagenLogo img{
    max-width: 100%;
}

.listaCelulares p:hover{
    cursor: pointer;
}

.misCelulares{;
    font-size: 20px;
}

.amigos{
    display: block;
}

.amigos a{
    display: flex;
    margin: auto auto 20px 30px;
    text-decoration: none;
    align-items: center;
    color: blanchedalmond;
}

.amigos a img{
    width: 50px;
    border-radius: 25px;
    margin-right: 5px;
}

.celularesamigos{
    font-size: 20px;
}

.multimedia{
    display: grid;
    grid-template: 350px;
}

.nombreVideo{
    padding: 10px;
    padding-top: 15px;
}

.nombreVideo p{
    color: brown;
    margin: 0;
    font-size: 15px;
}

.botones{
    display: flex;
}

.agregar{
    background-image: linear-gradient(to right, rgb(147, 164, 240), rgb(0, 15, 148) )
}

.agregar, .guardar, .compartir, .Samsung, .Apple, .Huawei, .Motorola {
    margin-right: 10px;
}

.agregar, .guardar, .compartir, .Samsung, .Apple, .Huawei, .Motorola :hover{
    cursor: pointer;
}

.guardar, .compartir{
    color: blue;
    margin-left: 20px;
    font-size: 13px;
}

.Samsung{
    margin-left: 60px;
    background-color: black;
    color: bisque;
    border-radius: 20px;
    padding: 5px 15px;
}

.Apple{
    background-color: rgb(49, 2, 2);
    color: rgb(187, 167, 143);
    border-radius: 20px;
    padding: 5px 15px;
}

.Huawei{
    background-color: rgb(0, 46, 8);
    color: rgb(124, 184, 184);
    border-radius: 20px;
    padding: 5px 15px;
}

.Motorola{
    background-color: rgb(49, 2, 25);
    color: rgb(171, 236, 180);
    border-radius: 20px;
    padding: 5px 15px;
}

.comentarios{
    display: grid;
    grid-template: 600px / 550px 1fr;
}

.comentarios span{
    display: flex;
    justify-content: center;
    font-size: initial;
}

.comentarios :hover{
    cursor: default;
}

.nuevoComentario{
    padding: 20px;
}

.nuevoComentario p{
    margin-bottom: 20px;
}

.anadirComentario{
    display: flex;
    justify-content: start;
    align-content: center;
}

.anadirComentario img{
    width: 50px;
    border-radius: 25px 25px 15px 15px;
    margin-right: 10px;
}

.anadirComentario input {
    background-color: bisque;
    width: 300px;
    cursor: text;
    border-bottom: 5px solid rgb(43, 9, 9);
}

.anadirComentario input:hover{
    cursor: text;
}

.contenedorComentarios{
    margin-top: 20px;
    display: flex;
    align-content: center
}

.contenedroComentarios img{
    width: 50px;
    border-radius: 25px 25px 15px 15px;
    margin-right: 10px;
}

.texto{
    display: block;
}

.texto p{
    margin: 0;
    font-weight: bold;
    color: blueviolet
}

.text span{
    font-weight: 400;
    color: rgb(7, 104, 96)
}

.sugerencias .nombreSugerencias{
    display: flex;
    justify-content: start;
}

.sugerencias p{
    padding: 20px 20px 10px 20px;
}

.sugerencias img{
    width: 60%;
}

.sugerencias img:hover{
    cursor: pointer;
}

.sugerencias samp:hover{
    cursor: pointer;
}